.ritole {
	unicode-bidi: bidi-override;
	direction: rtl;
}

@media (min-width: 576px) {
	.equal-width-sm {
		flex: 1 1 0px;
	}
}

/* toggle navbar without javascript */
#toggle-navbar{
	display: none;
}
#toggle-navbar:checked ~ div {
	display: block;
}

/* make links in main content blue */
main a {
	color: #075bf7 !important;
	border-bottom: 1.75px dotted #075bf7;
    text-decoration: none;
}
main a:focus, main a:hover {
	color: #023ba6 !important;
	border-bottom: 2px dotted #023ba6;
    text-decoration: none;
}

/* footer spacing */
footer a {
	margin: 0 0.5em;
	text-decoration: none;
}

/* footer sticky  */
html, body {
	height: 100%;
	font-size: 107%;
}
body {
	display: flex;
	flex-flow: column;
	font-family: 'Ubuntu', sans-serif;
	/* background-color: #DAFBEF; */
	background-color: #dffcf6;
	color: #002B7C;
}
footer {
	background-color: #f8f9fa;
	font-size: small;
	margin-top: auto;
	padding: 0.75em;
	text-align: center;
}

/* make all images responsive */
img {
	max-width: 100%;
	height: auto;
}

/* headings */
h1 { text-align: center; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }

/* card hover */
.card-hover:hover {
	background-color: #f7f7f7;
}

/* style all blockquotes independently from bootstrap */
blockquote {
	border-left: solid 5px #d0d0d0;
	font-style: italic;
	padding-left: 0.5em;
}

pre {
	color: #015A4F;
}

.navbar-toggler-icon {
	cursor: pointer;
}

h2 {
	text-decoration: underline solid #93DDFA 5px;
	text-decoration-style: solid ;
	text-decoration-line: underline;
	text-decoration-color: #93DDFA;
}

.navbar-nav a:hover {
text-decoration:underline;
color:#357ec7!important;
}